<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>Захват территории - Territory conquest Game</title>

  <link rel="stylesheet" type="text/css" href="./style/external/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./style/style.css?v2">
  <link rel="preload" href="./fonts/Showcard_Gothic_Regular.ttf" as="font" type="font/ttf" crossorigin>
  <link rel="preload" href="./fonts/Showcard_Gothic_Cyr.otf" as="font" type="font/otf" crossorigin>
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being enabled. Please enable Javascript and reload this page!</h2></noscript>
<div id="main-container" class="container-fluid">
  <div id="vk_api_transport"></div>
  <span id="social-network-type" th:text="${socialNetworkType}" class="always-hidden"></span>
  <span id="social-network-app-id" th:text="${socialNetworkAppId}" class="always-hidden"></span>

  <div class="background-container noselect">
    <div class="background">
      <!-- Lobby window -->
      <div id="lobby-window" class="lobby-window background-left">

        <div>
          <img class="main-user-info-container-img" src="./img/components/user_info.png">
        </div>

        <!-- User Info -->
        <div class="main-user-info margin-left lobby-data-margin-bottom">
          <div class="user-info padding-4">
            <img id="userImg" class="player-img img-rounded" src="#">
            <div id="user-info-data" class="user-info-data info-margin-left" data-toggle="tooltip" data-placement="bottom" title="">
              <div class="user-info-name">
                <span id="userName"></span>
              </div>
              <div id="userScore" class="userScore"></div>
            </div>
          </div>
        </div>

        <!-- Rating table label -->
        <div class="top-players-rating">
          <span id="top-players-rating">Play</span>
        </div>

        <!-- Rating table -->
        <div class="top-players-container-1">
          <div class="top-players-container-2">
            <div id="top-players-container" class="top-players-container">

            </div>
          </div>
        </div>

        <!-- Play button -->
        <div id="playContent" class="play-content"
             data-toggle="tooltip" data-placement="bottom">
          <span id="play-text">Play</span>
          <img id="play-loader" class="play-loader" src="./img/components/loader1.gif" alt="...">
        </div>

        <div id="arrowHelper" class="arrow-helper">
          <img class="arrow-helper-img" src="./img/arrow_helper.png" alt="">
        </div>
      </div>

      <!-- Game window -->
      <div id="game-window" class="game-window background-left">
        <!-- Surrender -->
        <div id="player-surrender" class="player-surrender">
          <img id="player-surrender-img" class="player-surrender-img" src="#" alt="White flag">
        </div>

        <div class="players-container">
          <!-- Left player -->
          <img class="left-pl-back-img" src="./img/components/player_left.png">
          <div id="left-pl-info" class="side-game-info user-info side-game-info-left" data-toggle="tooltip" data-placement="bottom" title="">
            <img id="left-pl-img" class="img-rounded player-img" src="#">
            <div id = "left-pl-shadow" class="pl-shadow left-pl-shadow"></div>

            <div class="user-info-data info-margin-left" data-toggle="tooltip" data-placement="bottom" title="">
              <div id="left-pl-name" class="player-name"></div>
              <span id="left-pl-score" class="player-score"></span>
            </div>
          </div>

          <!-- Right player -->
          <img class="right-pl-back-img" src="./img/components/player_right.png">
          <div id="right-pl-info" class="side-game-info user-info side-game-info-right" data-toggle="tooltip" data-placement="bottom" title="">
            <div class="user-info-data" data-toggle="tooltip" data-placement="bottom" title="">
              <div id="right-pl-name" class="player-name"></div>
              <span id="right-pl-score" class="player-score"></span>
            </div>

            <img id="right-pl-img" class="img-rounded player-img" src="#">
            <div id="right-pl-shadow" class="pl-shadow right-pl-shadow"></div>
          </div>
        </div>

        <div>
          <img class="time-progress-img" src="./img/components/timer_progress.png">
          <div id="time-progress" class="time-progress"></div>
        </div>

        <div class="game-margin-top">
          <canvas id="game-canvas" class="game-canvas">This text is displayed if your browser does not support HTML5 Canvas.</canvas>
        </div>

        <!-- Game sub-window -->
        <div id="subwindow-background" class="subwindow-background">
          <div id="subwindow-container" class="subwindow-container">
            <div id="subwindow-close" class="subwindow-close"></div>
            <div id="subwindow-cells" class="subwindow-cells"></div>

            <img id="subwindow-left-pl-img" class="subwindow-pl-img subwindow-left-pl-img" src="#">
            <img id="subwindow-right-pl-img" class="subwindow-pl-img subwindow-right-pl-img" src="#">

            <div id="subwindow-left-pl-name" class="subwindow-pl-name subwindow-left-pl-name"></div>
            <div id="subwindow-right-pl-name" class="subwindow-pl-name subwindow-right-pl-name"></div>

            <div id="subwindow-points" class="subwindow-points"></div>
            <div id="subwindow-btn-next" class="subwindow-btn-next"></div>
          </div>
        </div>
      </div>

      <!-- Warn-window -->
      <div id="warnwindow-background" class="subwindow-background">
        <div id="warnwindow-container" class="warnwindow-container">
          <div id="warnwindow-yes" class="warnwindow-yes"></div>
          <div id="warnwindow-no" class="warnwindow-no"></div>

          <div id="warnwindow-text" class="warnwindow-text"></div>
          <input id="warnwindow-input" class="warnwindow-input form-control" type="text" minlength="4" maxlength="17" autocomplete="true">
        </div>
      </div>

      <!-- Chat -->
      <div class="chat-window background-left background-right">
        <div class="">
          <div id="chat-output-scrolling" class="chat-output-scrolling background-colored rounded-borders">
            <table id="conversation" class="table table-condensed no-margin-bottom">
              <tbody id="greetings">
              </tbody>
            </table>
          </div>
        </div>
        <div class="">
          <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input type="text" id="chat-msg-input" class="form-control chat-msg-input" maxlength="200" autocomplete="off">
                <div id="send" class="btn btn-default input-group-addon">
                  &gt;
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- Docs -->
      <div class="docs-content">
        <a id="privacy-policy" target="_blank" href="./docs/privacy-policy.html">Privacy Policy</a>
        <span class="blue-color"> </span>
        <a id="terms-of-service" target="_blank" href="./docs/terms-of-service.html">Terms of Service</a>
        <span class="blue-color"> </span>
        <a id="authors" target="_blank" href="./docs/authors.html">Authors & Feedback</a>
      </div>

    </div>
  </div>
</div>

<!-- Loading window -->
<div id="loading-window">
  <div class="loading"></div>
</div>

<!-- Disconnection window -->
<div class="disconnection-popup" id="discnctPopup">
  <div class="disconnection-popup-content rounded-borders">
    <p>
      Sorry, the connection is losszzzzzsst...
    </p>
    <button id="reconnect" class="btn btn-primary reconnect-btn" type="submit">Refresh the page</button>
  </div>
</div>

<script src="https://unpkg.com/@vkontakte/vk-bridge/dist/browser.min.js"></script>

<script defer src="./js/external/sockjs-1.1.2.min.js"></script>
<script defer src="./js/external/stomp-2.3.4.min.js"></script>
<script defer src="./js/external/jquery-3.2.1.slim.min.js"></script>
<script defer src="./js/external/bootstrap.min.js"></script>
<script defer src="./js/external/l100n.js"></script>

<script defer src="./env-params.js"></script>
<script defer src="./localization/tips.js"></script>
<script defer src="./localization/game-rules.js"></script>
<script defer src="./localization/main-ui.js"></script>
<script defer src="./js/l10n-wrapper.js"></script>
<script defer src="./js/screen-params.js"></script>
<script defer src="./js/game.js"></script>
<script defer src="./js/app.js?v2"></script>
</body>
</html>