<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">

  <title>Fruit's Bounty</title>

  <link rel="stylesheet" type="text/css" href="/style/external/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/style/style.css">
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being enabled. Please enable Javascript and reload this page!</h2></noscript>
<div id="main-container" class="container-fluid">
  <div id="vk_api_transport"></div>
  <span id="social-network-type" th:text="${socialNetworkType}" class="always-hidden"></span>

  <!-- Lobby window -->
  <div id="lobby-window" class="lobby-window">

    <!-- User Info -->
    <div class="row">
      <div class="col-xs-6">
        <div class="user-info">
          <img id="userImg" class="img-rounded user-info-img" src="#">
          <div id="user-info-data" class="user-info-data" data-toggle="tooltip" data-placement="bottom" title="">
            <span id="userName" class="userName"></span>
            <br>
            <span id="userScore"></span>
          </div>
        </div>
      </div>
    </div>

    <!-- Requests & Tips -->
    <div class="row">
      <div class="col-xs-6">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a id="game-pane-a" href="#game-pane" class="background-colored" aria-controls="game-pane" role="tab" data-toggle="tab">Game</a></li>
          <li role="presentation"><a id="rules-pane-a" href="#rules-pane" class="background-colored" aria-controls="rules-pane" role="tab" data-toggle="tab">Rules</a></li>
          <li role="presentation"><a id="feedback-pane-a" href="#feedback-pane" class="background-colored" aria-controls="feedback-pane" role="tab" data-toggle="tab">Feedback</a></li>
          <li role="presentation"><a id="authors-pane-a" href="#authors" class="background-colored" aria-controls="authors" role="tab" data-toggle="tab">Authors</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content tab-content-lobby">
          <div role="tabpanel" class="tab-pane pane-padding active" id="game-pane">
            <!-- Play button -->
            <div class="play-content">
              <button id="play" class="btn btn-danger btn-lg play-btn" type="submit">Play</button>
            </div>
            <div id="tips-content" class="tips-content">
              <p id="tips" class="no-margin-bottom"></p>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane pane-padding background-colored" id="rules-pane">
          </div>
          <div role="tabpanel" class="tab-pane pane-padding background-colored" id="feedback-pane">
            <address id="feedback-text">
              Please, write your suggestions, feedback and bugs to the <strong>Fruit's Bounty Support:</strong><br>
              <a href="mailto:#">FruitsBounty@gmail.com</a>
            </address>
          </div>
          <div role="tabpanel" class="tab-pane pane-padding background-colored" id="authors">
            <address>
              <p>
                The fruits images and the icon were taken from https://opengameart.org/content/flat-designed-fruits under "CC-BY 3.0" license (https://creativecommons.org/licenses/by/3.0/). Reference to the author of images is https://www.tumblr.com/blog/paulinefranky
              </p>
              <p>
                The beach background image was taken from https://opengameart.org/content/beach-background under "CC0 1.0" license (https://creativecommons.org/publicdomain/zero/1.0/). Reference to the author of images is https://opengameart.org/users/tgfcoder
              </p>
            </address>
          </div>
        </div>
      </div>

      <!-- Rating-Table -->
      <div class="col-xs-6">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a id="rating-table-pane-a" href="#rating-table-pane" aria-controls="rating-table-pane" role="tab" data-toggle="tab">Top rated players</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="rating-table-pane">

            <div class="top-rated-scrolling background-colored">
              <table id="top-rated-table" class="table table-striped table-condensed no-margin-bottom">
                <tbody id="top-rated-players">
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Game window -->
  <div id="game-window" class="game-window">
    <div class="row">
      <div class="col-xs-12">
        <div class="game-window-container">
          <div class="side-game-info side-left">
            <img id="left-pl-img" class="img-rounded player-img" src="#">
            <p id="left-pl-name" class="player-name"></p>
            <p id="left-pl-score"></p>
            <p id="left-pl-wins"></p>
            <p id="left-pl-defeats"></p>
            <p id="left-pl-draws"></p>

            <p id="left-pl-added-score" class="added-score"></p>
            <p id="left-pl-winner" class="player-winner"></p>
            <button id="left-pl-surrender" class="btn btn-default btn-sm surrender-btn" type="submit">Concede</button>
            <p id="left-pl-timer" class="player-timer"></p>
          </div>
          <div>
            <canvas id="game-canvas">This text is displayed if your browser does not support HTML5 Canvas.</canvas>
          </div>
          <div class="side-game-info side-right">
            <img id="right-pl-img" class="img-rounded player-img" src="#">
            <p id="right-pl-name" class="player-name"></p>
            <p id="right-pl-score"></p>
            <p id="right-pl-wins"></p>
            <p id="right-pl-defeats"></p>
            <p id="right-pl-draws"></p>

            <p id="right-pl-added-score" class="added-score"></p>
            <p id="right-pl-winner" class="player-winner"></p>
            <button id="right-pl-surrender" class="btn btn-default btn-sm surrender-btn" type="submit">Concede</button>
            <p id="right-pl-timer" class="player-timer"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Chat -->
  <div class="chat-window">
    <div class="row">
      <div class="col-xs-12">
        <div id="chat-output-scrolling" class="chat-output-scrolling background-colored">
          <table id="conversation" class="table table-condensed no-margin-bottom">
            <tbody id="greetings">
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input type="text" id="chat-msg-input" class="form-control chat-msg-input" maxlength="200" autocomplete="off">
              <div id="send" class="btn btn-default input-group-addon send-chat-message">
                &gt;
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Loading window -->
<div id="loading-window">
  <div class="loading"></div>
</div>

<!-- Disconnection window -->
<div class="disconnection-popup" id="discnctPopup">
  <div class="disconnection-popup-content">
    <p>
      Sorry, the connection is losszzzzzsst...
    </p>
    <button id="reconnect" class="btn btn-primary reconnect-btn" type="submit">Refresh the page</button>
  </div>
</div>

<hr>
<div class="docs-content">
  <a id="privacy-policy" target="_blank" href="https://springs-sunshine.herokuapp.com/docs/privacy-policy.html">Privacy Policy</a>
  <span class="blue-color"> </span>
  <a id="terms-of-service" target="_blank" href="https://springs-sunshine.herokuapp.com/docs/terms-of-service.html">Terms of Service</a>
</div>

<script defer src="/js/external/sockjs-1.1.2.min.js"></script>
<script defer src="/js/external/stomp-2.3.4.min.js"></script>
<script defer src="/js/external/jquery-3.2.1.slim.min.js"></script>
<script defer src="/js/external/bootstrap.min.js"></script>
<script defer src="/js/external/l100n.js"></script>

<script defer src="/localization/tips.js"></script>
<script defer src="/localization/game-rules.js"></script>
<script defer src="/localization/main-ui.js"></script>
<script defer src="/js/l10n-wrapper.js"></script>
<script defer src="/js/game.js"></script>
<script defer src="/js/app.js"></script>
</body>
</html>