<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.82, maximum-scale=3.0">

  <title>Fruit's Bounty</title>

  <link rel="stylesheet" type="text/css" href="/style/external/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/style/style.css">
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being enabled. Please enable Javascript and reload this page!</h2></noscript>
<div id="main-container" class="container-fluid">
  <div id="vk_api_transport"></div>
  <span id="social-network-type" th:text="${socialNetworkType}" class="always-hidden"></span>

  <!-- Lobby window -->
  <div id="lobby-window" class="lobby-window">

    <!-- User Info -->
    <div class="row">
      <div class="col-xs-6">
        <div class="user-info">
          <img id="userImg" class="img-rounded" src="#">
          <div id="user-info-data" class="user-info-data info-margin-left" data-toggle="tooltip" data-placement="bottom" title="">
            <span id="userName" class="userName"></span>
            <br>
            <span id="userScore"></span>
          </div>
        </div>
      </div>
    </div>

    <!-- Requests & Tips -->
    <div class="row">
      <div class="col-xs-12">
        <!-- Play button -->
        <div class="play-content">
          <button id="play" class="btn btn-danger btn-lg play-btn" type="submit">
            <span id="play-text">Play</span>
            <img id="play-loader" class="play-loader" src="https://thumbs.gfycat.com/EmptyDeliriousBluefish-size_restricted.gif" alt="Smiley face">
          </button>
        </div>

        <div class="top-rated-scrolling background-colored">
          <table id="top-rated-table" class="table table-striped table-condensed no-margin-bottom">
            <tbody id="top-rated-players">
            </tbody>
          </table>
        </div>

        <div id="tips-content" class="tips-content">
          <p id="tips" class="no-margin-bottom"></p>
        </div>
      </div>
    </div>
  </div>

  <!-- Game window -->
  <div id="game-window" class="game-window">
    <div class="row">
      <div class="col-xs-12">
        <div class="game-window-container">

          <div class="players-container">
            <div id="left-pl-info" class="side-game-info user-info" data-toggle="tooltip" data-placement="bottom" title="">
              <img id="left-pl-img" class="img-rounded player-img" src="#">

              <div class="user-info-data info-margin-left" data-toggle="tooltip" data-placement="bottom" title="">
                <span id="left-pl-name" class="player-name"></span>
                <br>
                <span id="left-pl-score" class="player-score"></span>
                <span id="left-pl-added-score" class="added-score info-margin-left"></span>
              </div>
            </div>

            <div class="center-panel">
              <span id="player-timer" class="player-timer"></span>
              <div>
                <button id="left-pl-surrender" class="btn btn-default btn-sm surrender-btn info-margin-left" type="submit">Concede</button>
                <button id="right-pl-surrender" class="btn btn-default btn-sm surrender-btn info-margin-right" type="submit">Concede</button>
              </div>
            </div>


            <div id="right-pl-info" class="side-game-info user-info side-game-info-right" data-toggle="tooltip" data-placement="bottom" title="">
              <div class="user-info-data info-margin-right" data-toggle="tooltip" data-placement="bottom" title="">
                <span id="right-pl-name" class="player-name"></span>
                <br>
                <span id="right-pl-added-score" class="added-score info-margin-right"></span>
                <span id="right-pl-score" class="player-score"></span>
              </div>

              <img id="right-pl-img" class="img-rounded player-img" src="#">
            </div>
          </div>

          <div>
            <canvas id="game-canvas">This text is displayed if your browser does not support HTML5 Canvas.</canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Chat -->
  <div class="chat-window">
    <div class="row">
      <div class="col-xs-12">
        <div id="chat-output-scrolling" class="chat-output-scrolling background-colored">
          <table id="conversation" class="table table-condensed no-margin-bottom">
            <tbody id="greetings">
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input type="text" id="chat-msg-input" class="form-control chat-msg-input" maxlength="200" autocomplete="off">
              <div id="send" class="btn btn-default input-group-addon send-chat-message">
                &gt;
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Loading window -->
<div id="loading-window">
  <div class="loading"></div>
</div>

<!-- Disconnection window -->
<div class="disconnection-popup" id="discnctPopup">
  <div class="disconnection-popup-content">
    <p>
      Sorry, the connection is losszzzzzsst...
    </p>
    <button id="reconnect" class="btn btn-primary reconnect-btn" type="submit">Refresh the page</button>
  </div>
</div>

<hr>
<div class="docs-content">
  <a id="privacy-policy" target="_blank" href="https://springs-sunshine.herokuapp.com/docs/privacy-policy.html">Privacy Policy</a>
  <span class="blue-color"> </span>
  <a id="terms-of-service" target="_blank" href="https://springs-sunshine.herokuapp.com/docs/terms-of-service.html">Terms of Service</a>
  <span class="blue-color"> </span>
  <a id="about" target="_blank" href="https://springs-sunshine.herokuapp.com/">About & Feedback</a>
</div>

<script defer src="/js/external/sockjs-1.1.2.min.js"></script>
<script defer src="/js/external/stomp-2.3.4.min.js"></script>
<script defer src="/js/external/jquery-3.2.1.slim.min.js"></script>
<script defer src="/js/external/bootstrap.min.js"></script>
<script defer src="/js/external/l100n.js"></script>

<script defer src="/localization/tips.js"></script>
<script defer src="/localization/game-rules.js"></script>
<script defer src="/localization/main-ui.js"></script>
<script defer src="/js/l10n-wrapper.js"></script>
<script defer src="/js/game.js"></script>
<script defer src="/js/app.js"></script>
</body>
</html>